*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.nrepl-history
*.log

#generated pom
pom.xml
pom.xml.asc

#generated leiningen files
project.clj

#macos temporary files
.DS_Store
